.characterList {
    padding: 1em;
    // background: #c09b7569;
    font-family: monospace;
    background-image: url('../../assets/images/space.jpg');

    h1 {
        font-size: 35px;
        text-align: center;
        font-weight: bold;
        color: #562e36;
    }
}

.characterList_scroll {
    overflow-x: hidden !important;
}

.card-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}

.scroll-top {
    position: fixed;
    bottom: 3em;
    right: 2em;
    z-index: 100;
}