.characterList {
    padding: 1em;
    background: #c09b7569;
}

.characterList h1 {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #562e36;
}


.characterList_scroll {
    overflow-x: hidden !important;
}