.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c09b75 !important;
    width: 100%;
  }
  
  .footer__link {
    text-decoration: none;
    letter-spacing: 3px;
    color: black;
  }
  